.button {
    -fx-font-weight: bold;
}

/* Vitus Hösls grandioses Stylesheet */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

* {-fx-font-family: 'Roboto', sans-serif;}

.headline {-fx-font-size: 30; -fx-font-weight: 100; -fx-padding: 10px; -fx-padding-left: 20px;}
.subheadline {-fx-font-size: 16px;}

/* Textfelder */
.textfield_tag {-fx-font-size: 18px;}
.textfield_location {}

.error_message{
    -fx-text-fill: red;
}


.result{
    -fx-background-color: #ff33ff;
}

.backButton{
    /*style here*/
}

.searchButton{

}

.map {-fx-background-color: #FFFFFF;}